[submodule "submodules/nix-writers"]
	path = submodules/nix-writers
	url = https://cgit.krebsco.de/nix-writers
[submodule "submodules/krops"]
	path = submodules/krops
	url = https://cgit.krebsco.de/krops
[submodule "lass/5pkgs/autowifi"]
	path = lass/5pkgs/autowifi
	url = https://github.com/Lassulus/autowifi
[submodule "jeschli/2configs/elisp"]
	path = jeschli/2configs/elisp
	url = https://github.com/Jeschli/misc-elisp-scripts.git
