{% if music == "lounge" -%}
https://cast1.asurahosting.com/proxy/julien/stream.mp3
{% elif music == "lassulus" -%}
http://radio.lassul.us:8000/radio.mp3
{% elif music == "groove" -%}
http://ice2.somafm.com/groovesalad-128.mp3
{% elif music == "swr3" -%}
https://liveradio.swr.de/sw282p3/swr3/play.mp3
{% elif music == "swr1" -%}
https://liveradio.swr.de/sw282p3/swr1bw/play.mp3
{% elif music == "radio" -%}
https://liveradio.swr.de/sw282p3/swr1bw/play.mp3
{% endif %}
