on:
  schedule:
  - cron:  "*/15 * * * *"
  workflow_dispatch:

jobs:
  repo-sync:
    if: github.repository_owner == 'Mic92'
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
      with:
        persist-credentials: false
    - name: repo-sync
      uses: repo-sync/github-sync@v2
      with:
        source_repo: "https://git.thalheim.io/Mic92/stockholm.git"
        source_branch: "master"
        destination_branch: "master"
        github_token: ${{ secrets.PAT }}
